POSTGRES_PASSWORD=postgres123
POSTGREST_DB_PASSWORD=postgrest123
AUTH_DB_PASSWORD=auth123
RESEARCHER_DB_PASSWORD=researcher123
DB_PORT=5432

PGRST_DB_URI="postgres://postgrest:postgrest123@db:5432/postgres"
PGRST_JWT_SECRET=testsecrettestsecrettestsecrettestsecret
PGRST_PORT=3000
POSTGREST_URL=http://localhost:3000
