POSTGRES_PASSWORD=postgres123
POSTGREST_DB_PASSWORD=postgrest123
PIPELINE_DB_PASSWORD=pipeline123
AUTH_DB_PASSWORD=auth123
RESEARCHER_DB_PASSWORD=researcher123
DB_PORT=5432

PGRST_DB_URI=postgres://postgrest:postgrest123@db:5432/postgres
PGRST_JWT_SECRET=testsecrettestsecrettestsecrettestsecret
PGRST_PORT=3000
POSTGREST_URL=http://localhost:3000
PIPELINE_CONNECTION_STRING=postgres://pipeline:pipeline123@db:5432/postgres
ATMOTUBE_API_KEY=
